body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
}

.output {
    background-color: #fff;
    border: none;
    padding: 10px;
    text-align: right;
    width: 100%;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ccc;
}

@media only screen and (max-width: 600px) {
    .buttons {
        grid-template-columns: repeat(2, 1fr);
    }
}